<body>

<!--投稿成功時のメッセージ-->
<p>
	<font color="green">Book was successfully created.</font>
</p>
<!--投稿成功時のメッセージ-->

<div class="table">
		<p><strong>Title: </strong><%= @book.title %></p>
		<p><strong>Body: </strong><%= @book.body %></p>
</div>


<%= link_to "Edit", edit_book_path(@book) %> |
<%= link_to "Back", books_path %>
</body>